*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-full{
    width: 100%;
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;

    @include mobile{
        width: 90%;
    }
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.slider-icons{
    padding-top: $paragSpace;

    span{
        width: 8px;
        height: 8px;
        background-color: #b8b8b8;
        display: inline-block;
        margin-left: 10px;

        .tablet {
            display: none;
        
            @include tablet {
                display: block;
            }
        }

        .mobile{
            display: none;

            @include mobile{
                display: block;
            }
        }
    }

    .selected {
        background-color: #ffb630;
    }

}

.section-padding{
    padding-top: $padding;
}

h2{
    font-size: $subtitle;

    @include tablet{
        font-size: $tabletSubtitle;
    }
}

.centered{
    text-align: center;
}

@include tablet{
    .hidden{
        display: none;
    }
}

.show{
    display: block!important;
}

.hide{
    display: none;
}

