// colors

$white: #fff;
$orange: #ffb630;
$gray: #b8b8b8;
$lightGray: #f3f3f3;
$black: #000;
$footerColor: #02021b;
$footerCopyright: #121236;



// spacing

$padding: 80px;  // -- spacing between sections
$paragSpace: 20px; // -- spacing between paragraphs

// font styles

$headerFont: 12px;
$extraLarge: 44px;
$paragrapfFont: 16px;
$extraSmall: 14px;
$subtitle: 32px;
$tabletSubtitle: 28px;
$transform: uppercase;
