// colors

$primaryColor: #000;
$whiteColor: #fff;
$paragText: #4f4f4f;
$sectionBackground: #F2EDEB;
$outline: #DED3D1;
$footerBackground: #E8E3E1;
$inputColor: #F1F1F1;



// spacing

$smallGap: 30px;
$extraLargeSpacing: 100px;
$sectionSpacing: 80px;
$mediumSpacing: 40px;
$extraSmallSpacing: 10px;



// fonts

$extraLarge: 54px;
$large: 38px;
$medium: 22px;