$primary-color: #000;
$background-color: #fff;
$secondary-color: #666;
$dark-gray: #303030;
$border-color: #E3E3E3;
$title: #707070;
$buttonColor: #CCADAD;

//padding

$padding20: 1.25rem;
$paddingSmall: 1rem;
$paddingSection: 3.75rem;

:root{
    --primaryColor: #000;
}